<div id="iframe-left">
    <div class="iframe-left-top" style="border-bottom: 1px solid #242627">
        <div class="hide-sidebar">Hide Sidebar</div>
    </div>
    <div class="iframe-left-category">
        <ul>
            <!--fa fa-files-o-->
            <li>
                <i class="fa fa-caret-right fa-lg color-arrow pdr-6"></i>
                <i class="fa fa-folder color-grey"></i>
                <a href="/" class="Home">Home</a>
            </li>
            <li>
                <i class="fa fa-caret-right fa-lg color-arrow pdr-6"></i>
                <i class="fa fa-folder color-grey"></i>
                <a href="/archives" class="Archives">Archives</a>
            </li>
            <li>
                <i class="fa fa-caret-right fa-lg color-arrow pdr-6"></i>
                <i class="fa fa-folder color-grey"></i>
                <a href="/Categories" class="Categories">Categories</a>
            </li>
            <li>
                <i class="fa fa-caret-right fa-lg color-arrow pdr-6"></i>
                <i class="fa fa-folder color-grey"></i>
                <a href="/Tags" class="Tags">Tags</a>
            </li>
            <li>
                <i class="fa fa-caret-right fa-lg color-arrow pdr-6"></i>
                <i class="fa fa-folder color-grey"></i>
                <a href="/About" class="About">About</a>
            </li>
        </ul>
    </div>
</div>