<div id="iframe-left">
    <div class="iframe-left-top" style="border-bottom: 1px solid #242627">

    </div>
    <div class="iframe-left-category">
        <ul>
            <li>
                <a href="/" class="Home">Home</a>
            </li>
            <li>
                <a href="/archives" class="Archives">Archives</a>
            </li>
            <li>
                <a href="/Categories" class="Categories">Categories</a>
            </li>
            <li>
                <a href="/Tags" class="Tags">Tags</a>
            </li>
            <li>
                <a href="/About" class="About">About</a>
            </li>
        </ul>
    </div>
</div>