.filter {
    filter: blur(0.2rem);
}

.overflow_hidden {
    overflow-y: hidden !important;
    padding-right: 0.8rem; // 滚动条的宽度，避免页面抖动
}

.fadein {
    animation: fadein 0.4s ease-in;
    -webkit-animation: fadein 0.4s ease-in; /* Safari 和 Chrome */
    display: block !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#search-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    display: none;
}

#search-pop {
    width: 36rem;
    height: 40rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -18rem;
    margin-top: -20rem;
    background-color: #2E3846;
    text-align: center;
    z-index: 9999;
    padding: 1rem;
    border-radius: 0.4rem;
    overflow: auto;
    transition: all 0.2s;
    filter: blur(0);
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    #search-close {
        width: 2.2rem;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
    }

    #search-input {
        border: none;
        width: 82%;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.1rem;
        display: inline-block;
    }

    #search-body {
        ul {
            padding: 0;
            width: 90%;
            margin: 0 auto;

            li {
                .search-title {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .search-tag {
                    a {
                        font-size: 0.6rem;
                    }
                }

                margin: 0.3rem 0;
                padding: 0.4rem 0.6rem;
                list-style: none;
                text-align: left;
                border-radius: 0.2rem;
                border-bottom: 1px solid #eaecef;
                transition: all 0.3s;

                a {
                    font-size: 0.8rem;
                    color: #eaecef;

                    div {
                        padding: 0.2rem 0;
                    }
                }
            }

            li:hover a {
                color: #333;
            }

            li:hover {
                transform: scale(1.02);
                background-color: #eaecef;
            }
        }
    }
}
