<!DOCTYPE html>
<html>
<head>
    <head>
        <%- css('css/style.css') %>
        <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta charset="utf-8">
        <!--设置浏览器兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <!--支持响应式 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 网站关键字，影响SEO -->
        <meta name="keywords" content="">
        <!--网站描述，影响SEO -->
        <meta name="description" content="">
        <title><%= config.title %></title>
    </head>
</head>
