<header class="header">
    <!--标题栏-->
    <div class="utone-title">
        <span><i class="fa fa-address-card"></i> &nbsp utone [D:\project\hexo\themes\utone] - Utone</span>
    </div>
    <div class="utone-menu">
        <ul>
            <li>
                <a href="javascript:void(0)">File</a></li>
            <li>
                <a href="javascript:void(0)">Edit</a>
            </li>
            <li>
                <a href="javascript:void(0)">View</a>
            </li>
            <li>
                <a href="javascript:void(0)">Navigate</a>
            </li>
            <li>
                <a href="javascript:void(0)">Code</a>
            </li>
            <li>
                <a href="javascript:void(0)">Refactor</a>
            </li>
            <li>
                <a href="javascript:void(0)">Run</a>
            </li>
            <li>
                <a href="javascript:void(0)">Tools</a>
            </li>
            <li>
                <a href="javascript:void(0)">VCS</a>
            </li>
            <li>
                <a href="javascript:void(0)">Window</a>
            </li>
            <li>
                <a href="javascript:void(0)">Help</a>
            </li>
        </ul>
    </div>

    <div class="utone-nav">
        <ul>
            <li>
                <a href="/" class="utone-nav-a">Home</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="right-direction">></a>
            </li>
            <li>
                <a href="/archives" class="utone-nav-a">Archives</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="right-direction">></a>
            </li>
            <li>
                <a href="/Categories" class="utone-nav-a">Categories</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="right-direction">></a>
            </li>
            <li>
                <a href="/Tags" class="utone-nav-a">Tags</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="right-direction">></a>
            </li>
            <li>
                <a href="/About" class="utone-nav-a">About</a>
            </li>
        </ul>
    </div>
</header>
<div class="header-div"></div>


