#iframe-left
  width 12%
  height 100%
  float left
  position fixed
  background-color: #3c3f41
  .iframe-left-top
    width 100%
    height 26px
    .hide-sidebar
      float right
      padding-right 10px
      padding-left 10px
      line-height 27px
      color #C9C9C9
      font-size 13px
      border-right 0.5px solid #4B4B4B
      border-left 0.5px solid #4B4B4B
      height 100%
      cursor pointer
    .hide-sidebar:hover
      background-color #4B6EAF
  .iframe-left-category

    padding-top 7px
    ul li
      padding-left 20px
      cursor pointer
      height 22px
    ul li:hover
      background-color #4B6EAF
    a
      padding-right 3px
      color #BBBBBB
      font-size 13px
      line-height 22px

    a:hover
      background-color #4B6EAF








