#post {
  margin-top: 20px
  margin-left: 20px
  color: #CCCCCC
  .post-title .main-post-date {
    font-size: 12px
    margin-left: 20px
  }
  .post-content {
    width: 88%
    margin-top: 20px
    margin-bottom: 20px
    background-color: #3C3F41
    padding: 20px
    color: #DCDCDC
    font-size: 13px
    border-radius: 5px
  }
  .post-pager {
    width: 200px
    margin-top: 20px
    margin-bottom: 20px
    background-color: #3C3F41
    padding: 20px
    font-size: 13px
    border-radius: 5px
    height: 40px
    li:first-child {
      margin-bottom: 10px
    }
    a {
      color: #DCDCDC
    }
  }
}